<!-- <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span
                            class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a href="/Home" class="navbar-brand">Home</a></div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/CreatePO">Create PO</a></li>
                    <li><a href="/CreateInvoice">Create Invoice</a></li>
                    <li><a href="/CurrencyRate">Currency rate table</a></li>
                </ul>
            </div>
        </div>
    </div> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> <img class="logo" src="http://bootstrap-ecommerce.com/main/images/logo-white.png" height="40"> LOGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav ml-auto"> 
            <li class="nav-item active">
                <a class="nav-link" href="/Home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/CreateInvoice"> Create Invoice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/CreatePO"> CreatePO</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/CurrencyRate"> Currency Master</a>
            </li>
            <li class="nav-item">
            <a class="btn ml-2 btn-warning" href="#">Help</a></li>
        </ul>
    </div>
    </nav>